@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Nanum+Myeongjo&display=swap");

* {
  font-family: "Nanum Myeongjo", "Bodoni Moda", serif;
}

:root {
  --primary-color: #ffefc2;
  --secondary-color: #6e613f;
}
body {
  padding: 0;
  margin: 0;
  /* background-color: var(--primary-color); */
}
html {
  font-size: 75.5%;
}

.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column;
    padding: 30px;
  }
  .row1 {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .row2 {
    padding-top: 90px;
  }

  .row2 h2,
  .row2 h3 {
    color: #fff;
    text-shadow: 1px 1px #000;
  }
}

@media (max-width: 375px) {
  .row2 {
    width: 100%;
    margin-right: 0;
  }

  .search {
    width: 100%;
  }

  .search input {
    width: 100%;
  }
}
