@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Nanum+Myeongjo&display=swap");

* {
  font-family: "Nanum Myeongjo", "Bodoni Moda", serif;
}

:root {
  --primary-color: #ffefc2;
  --secondary-color: #6e613f;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
}
html {
  font-size: 75.5%;
}
.header {
  width: 100%;
  height: 500px;
  color: var(--secondary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/library.jpg);

  clip-path: circle(60% at left 300px);
  z-index: -1;
}
.row2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 30px;
}

.row2 .book-icon {
  width: 50px;
  padding-top: 10px;
}
.row2 h2 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "Bodoni Moda", serif;
}

.row2 h3 {
  width: 100%;
  text-align: center;
  font-family: "Bodoni Moda", serif;
}

.row1 h1 {
  font-size: 3rem;
  text-align: center;
  margin-left: 35px;
  color: #fff;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.search input {
  outline: 0;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 12px;
  margin-right: 1rem;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
}
.search button {
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
}
.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
}

.chat-title {
  width: 100%;
  color: black;
  font-weight: bold;
}

.chat-box {
  width: 100%;
}
